:root {
   --orbitRight: -10rem;
   --orbitLeft: 10rem;
   --orbitCenter: -0px; 
}

#planet {
    position: relative;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background: rgb(55,127,199);
    background: linear-gradient(34deg, rgba(55,127,199,1) 41%, rgba(255,255,255,1) 99%);
    margin: 5rem auto;
    box-shadow: -15px 15px 25px #333;
}

/* .move {
    box-sizing: border-box;
    height: 10rem;
    width: 10rem;
}
 */
#moon {
    border-radius: 50%;
    top: 3rem;
    position: relative;
    margin: 1rem auto;
    height: 4rem;
    width: 4rem;
    background: rgb(255,255,255);
    background: linear-gradient(214deg, rgba(255,255,255,1) 79%, rgba(144,139,153,0.041053921568627416) 100%);
    animation: move 10s linear alternate;
    animation-iteration-count: infinite;
    box-shadow: -15px 15px 25px #333;
}

@keyframes move {
    0% {
        transform: translatex(var(--orbitLeft));
    }

    100% {
        transform: translatex(var(--orbitRight));
    }
}
#sky {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    z-index: -20;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(51,51,51);
    background: linear-gradient(23deg, rgba(51,51,51,1) 92%, rgba(255,255,255,1) 99%);
}
